<h1><%= @user.username %>'s Page</h1>
<% if @user == current_user %>
  <%= link_to "Create New Goal", new_user_goal_url(params[:id]) %>
<% end %>
<ul>
  <% if @user == current_user %>
    <%= render @user.goals %>
  <% else %>
    <%= render @user.goals.where(private: false) %>
  <% end %>
</ul>
