<form action ="<%= action %>", method="post">
  <input
    type = "hidden"
    name = "authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>email:
    <input type = "string" name="user[email]"></label><br>
  <label>password:
    <input type = "password" name="user[password]"></label><br>
  <input type ="submit" value = "Submit">
</form>
