<h2>All feeds</h2>
<% var board; %>
<div class="boards-index row">
  <% if (boards.length > 0) { %>
    <% for (var i = 0; i < boards.length; i++) { %>
      <% board = boards.models[i]; %>
      <div class="col-md-3"><a class="btn btn-xlarge btn-block"
        href="<%= '#boards/' + board.id %>">
        <%= board.escape("title") %>
      </a></div>
    <% } %>
  <% } %>
</div>
