<h2>All feeds</h2>
<% var board; %>
<ul class="boards-index">
  <% if (boards.length > 0) { %>
    <% for (var i = 0; i < boards.length; i++) { %>
      <% board = boards.models[i]; %>
      <li class="board-index-item"><a class="btn btn-xlarge"
        href="<%= board.url() %>">
        <%= board.escape("title") %></a></li>
    <% } %>
  <% } %>
</ul>
