<div class="input-group col-md-3">
  <form class="new-board">
    <input type="text" class="form-control" placeholder="new board" name="title">
    <input type ="submit" class="form-control create-board"></button>
  </form>
</div>
