<form class="new-board">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="new board" name="title">
    <input type ="submit" class="form-control create-board">Create!</button>
  </div>
</form>
